@import url("https://fonts.googleapis.com/css2?family=Anta&family=Barlow:wght@400;500;600&family=Oswald:wght@200..700&display=swap");

/* @import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&family=PT+Sans:wght@700&display=swap");

:root {
  --backgroundColor: #242424;
  --backgroundColorLight: #f6f6f6;
  --card-color: #60695c;

  --color-white: #ffffffde;

  --font-Barlow: "Barlow";
  --font-ptSans: "PT Sans";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
} */
